[Desktop Entry]
Version=1.5
Name=JetBrains
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/jetbrains;
Exec="/home/minion/.local/share/JetBrains/Daemon/bundles/current/jetbrainsd/bin/jetbrainsd" handleUri %u
