[Desktop Entry]
Name=Overcooked! 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/728880
Icon=steam_icon_728880
Terminal=false
Type=Application
Categories=Game;
