[Desktop Entry]
Name=Steam Linux Runtime 1.0 (scout)
Comment=Play this game on Steam
Exec=steam steam://rungameid/1070560
Icon=steam
Terminal=false
Type=Application
Categories=Game;
